<table>
	<tr>
		<td>
			<%= f.label :title, "Title" %>
		</td>
		<td>
			<%= f.text_field :title %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :content, "Content" %>
		</td>
		<td>
			<%= f.text_area :content %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.file_field :file %>
		</td>
		<td>
			
		</td>
	</tr>
	<tr>
		<td>
			<%= f.submit submit_text %>
		</td>
		<td>
			
		</td>
	</tr>
</table>
