<table class="table table-striped">
	<tr>
		<td>
			<%= f.label :title, "Title" %>
		</td>
		<td>
			<%= f.text_field :title %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :content, "Content" %>
		</td>
		<td>
			<%= f.text_area :content, :style => "width:100%;min-height:300px;" %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= f.file_field :file %>
		
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= f.submit submit_text %>
		</td>
	</tr>
</table>
